@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Suisse';
    background-color: #171A31;
    color: white;
}

@font-face {
    font-family: 'Suisse';
    src: url('../public/assets/fonts/SuisseBPIntl-Antique.woff2') format('woff2'),
        url('../public/assets/fonts/SuisseBPIntl-Antique.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse';
    src: url('../public/assets/fonts/SuisseBPIntl-Medium.woff2') format('woff2'),
        url('../public/assets/fonts/SuisseBPIntl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse';
    src: url('../public/assets/fonts/SuisseBPIntl-Regular.woff2') format('woff2'),
        url('../public/assets/fonts/SuisseBPIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../public/assets/fonts/SuisseBPIntl-Thin.woff2') format('woff2'),
        url('../public/assets/fonts/SuisseBPIntl-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.bracket-button {
    position: relative;
}
.bracket-button::before {
    content: '[';
    position: absolute;
    left: -3px;
    top: -19px;
    font-size: 40px;
    font-weight: 400;
    transition: all linear 150ms;
}
.bracket-button::after {
    content: ']';
    position: absolute;
    right: -3px;
    top: -19px;
    font-size: 40px;
    font-weight: 400;
    transition: all linear 150ms;
}
.bracket-button:hover::before {
    left: 2px;
}
.bracket-button:hover::after {
    right: 2px;
}
footer .bracket-button::after, footer .bracket-button::before {
    font-size: 25px;
    top: -11px;
}
form .bracket-button::before, form .bracket-button::after {
    top: -2px;
}

form input {
    border-bottom: 1px solid #552F55!important;
    color: #552F55!important;
    padding-left: 0!important;
}

form input::placeholder {
    color: #552F55;
}

form input:focus {
    outline: none!important;
    border-color: transparent!important;
    --tw-ring-color: transparent!important;
    --tw-ring-shadow: none!important;
    border-bottom: 1px solid #552F55!important;
}

@media only screen and (min-width: 1280px) {
    .bracket-button::before {
        content: '[';
        position: absolute;
        left: -3px;
        top: -20px;
        font-size: 46px;
        font-weight: 400;
        transition: all linear 150ms;
    }
    .bracket-button::after {
        content: ']';
        position: absolute;
        right: -3px;
        top: -20px;
        font-size: 46px;
        font-weight: 400;
        transition: all linear 150ms;
    }
  }
